.#{$prefix}-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0 none;
  .#{$prefix} {
    position: relative;
    margin: 0 auto;
    top: 250px;

    &-content {
      position: relative;
      background:rgba(255,255,255,1);
      box-shadow:0px 5px 20px 0px rgba(80,91,101,.6);
      border-radius:2px;
      overflow: hidden;
    }

    &-header {
      padding: 12px 40px 16px 30px;
    }
    
    &-title {
      color:rgba(182,194,204,1);
      font-size:20px;
      line-height:26px;
    }

    &-close {
      cursor: pointer;
      border: 0;
      background: transparent;
      font-size: 21px;
      position: absolute;
      right: 12px;
      top: 12px;
      font-weight: 700;
      line-height: 1;
      color: #ccc;
      &-x:after {
        content: '×'
      }
  
      &:hover {
        color: #2f86ff;
      }
    }

    &-body {
      padding: 10px 30px;
    }

    &-footer {
      padding: 10px 10px 30px;
      text-align: center;
      button {
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    }

    .btn {
      line-height: 40px;
      border-radius: 2px;
      min-width: 110px;
      font-size: 16px;
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
      &-ok {
        background: #2E86FF;
        box-shadow:0px 0px 10px 0px rgba(46,134,255,0.5);
        color: #fff;
        &:hover {
          background: #589EFF;
        }
      }
      &-cancel {
        background: #fff;
        color: #505B65;
        &:hover {
          background: #F8F9FC;
        }
      }
    }

  }
}

