@mixin effect {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.#{$prefix} {
  position: relative;
  margin: 0 auto;
  &-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0 none;
    &.vertical-center-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      >.#{$prefix} {
        top: 0px;
      }
    }
  }
  &-content {
    position: relative;
    background:rgba(255,255,255,1);
    box-shadow:0px 5px 20px 0px rgba(67,79,89,0.5);;
    border-radius:2px;
    overflow: hidden;
  }

  &-header {
    padding: 10px 40px 16px 30px;
  }

  &-title {
    color:$gray-lighter;
    font-size:20px;
    line-height:26px;
  }

  &-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 18px;
    position: absolute;
    right: 12px;
    top: 12px;
    line-height: 1;
    color: $gray-light;
    &-x:after {
      display: block;
      font-family: 'iconfont';
      content: '\e63c';
    }
    &:hover {
      color: #2f86ff;
      outline: none;
    }
  }

  &-body {
    padding: 10px 30px;
    color: $gray-darker;
    font-size: 14px;
    line-height: 22px;
  }

  &-footer {
    padding: 10px 30px 30px;
    text-align: center;
    button {
      margin-right: 20px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &-zoom-enter, &-zoom-appear {
    opacity: 0;
    @include effect;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    animation-play-state: paused;
  }

  &-zoom-leave {
    @include effect;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    animation-play-state: paused;
  }

  &-zoom-enter, &-zoom-enter-active, &-zoom-appear, &-zoom-appear-active {
    animation-name: rcDialogZoomIn;
    animation-play-state: running;
  }

  &-zoom-leave, &-zoom-leave-active {
    animation-name: rcDialogZoomOut;
    animation-play-state: running;
  }

  @keyframes rcDialogZoomIn {
    0% {
      opacity: 0;
      transform: scale(0, 0);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  @keyframes rcDialogZoomOut {
    0% {

      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      transform: scale(0, 0);
    }
  }
}

@media (max-width: 768px) {
  .#{$prefix} {
    width: auto!important;
    margin:10px;
  }
}

