button {
  margin-right: 20px;
}

.demo {
  padding: 10px 0 50px;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  word-break: normal;
}
